<div class="history-container">
    <label *ngIf="showlabel">Historik</label>
    <div class="card card-body">
        <ul class="list-group list-group-flush" *ngIf="tally.getHistory().length">
            <li *ngFor="let item of tally.getHistory()" class="list-group-item" [class.goal-reached]="item.value >= tally.getGoal()">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        <div class="widget-content-left mr-3">
                            <div class="circle"><span>{{ item.date | date :'EEEE' }}</span></div>
                        </div>
                        <div class="widget-content-left">
                            <div class="widget-heading">{{ item.date | date : 'd MMM'}}</div>
                            <div class="widget-subheading">{{ item.date | date : 'HH:mm:ss'}} </div>
                        </div>
                        <div class="widget-content-right">
                            <div class="font-size-xlg text-muted">
                                <span>{{ item.value }} / {{ tally.getGoal() }}</span>
                                <small class="pl-2" [class.text-success]="item.value >= tally.getGoal()" [class.text-danger]="item.value < tally.getGoal()">
                                    <i class="fa" [class.fa-angle-up]="item.value >= tally.getGoal()"></i>
                                    <i class="fa" [class.fa-angle-down]="item.value < tally.getGoal()"></i>
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success" [attr.aria-valuenow]="getPercentage(tally.getGoal(), item.value)" [style.width]="getPercentage(tally.getGoal(), item.value) + '%'" [class.done]="tally.getValue() == tally.getGoal()" [class.over]="tally.getValue() > tally.getGoal()"
                            [ngClass]="{'bg-danger' : item.value < tally.getGoal()}" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-danger" *ngIf="showlabel" [disabled]="!tally.getHistory()" (click)="openModal()">Töm historik</button>

    </div>
</div>

<div class="mdlSample modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display': mdlSampleIsOpen ? 'block' : 'none', 'opacity': 1}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Radera historik</h5>
                <button type="button" class="close" (click)="discard()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <p>Är du säker på att du vill radera historiken för {{ tally.getName() }}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="discard()">Ångra</button>
                <button type="button" class="btn btn-danger" (click)="eraseHistory()">Radera</button>
            </div>
        </div>
    </div>
</div>