<div class="list-group">
    <app-tally *ngFor="let tally of tallies" [showAll]="showAll" [tally]="tally" (tallyIncrese)="increse(tally)"
        (tallyDecrese)="decrese(tally)"></app-tally>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col text-center">
            <a routerLink="/add">
                <img src="assets/plus.png" class="plus" />
            </a>
            <p>&nbsp;</p>
            

            <label class="showAll">
                <input type="checkbox" [(ngModel)]="showAll" (change)="eventCheck($event)" >
            </label>

            <p>
                <a routerLink="/clear">Rensa Cache</a><br /><br />
                <a routerLink="/todo">Att göra</a>
            </p>
            
        </div>
    </div>
</div>