<form name="{{ method }}-tally" #tallyForm="ngForm">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="name">Namn</label>
            <input [(ngModel)]="tally.name" type="text" maxlength="16" class="form-control" name="name" id="name" placeholder="Armhävningar" required />
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <div class="form-group">
                <label for="increseBy">Öka med</label>
                <input type="number" [(ngModel)]="tally.increseBy" pattern="\d*" class="form-control" name="increseBy" id="increseBy" placeholder="25" required>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label for="decreseBy">Minska med</label>
                <input type="number" [(ngModel)]="tally.decreseBy" pattern="\d*" class="form-control" name="decreseBy" id="decreseBy" placeholder="25" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Nollställ varje dag</label>
        <div class="btn-group special" role="group" aria-label="...">
            <button type="button" (click)="toggleResetEveryday(true)" class="btn btn-outline-primary" [ngClass]="{'active':tally.resetEveryDay === true}">Ja</button>
            <button type="button" (click)="toggleResetEveryday(false)" class="btn btn-outline-primary" [ngClass]="{'active':tally.resetEveryDay === false}">Nej</button>
        </div>
    </div>
    <div class="form-group">
        <label for="value">Värde</label>
        <input type="number" min="0" class="form-control" pattern="\d*" [(ngModel)]="tally.value" id="value" name="value" placeholder="0" required>
    </div>
    <div class="form-group">
        <label for="value">Topscore</label>
        <input type="number" min="0" class="form-control" pattern="\d*" [(ngModel)]="tally.topScore" id="topScore" name="topScore" placeholder="0" required>
    </div>
    <div class="form-group">
        <label for="goal">Mål</label>
        <input type="number" min="1" class="form-control" pattern="\d*" [(ngModel)]="tally.goal" name="goal" id="goal" placeholder="100">
    </div>
    <div class="form-group">
        <label>Aktiv</label>
        <div class="btn-group special" role="group" aria-label="...">
            <button type="button" (click)="toggleActive(true)" class="btn btn-outline-success" [ngClass]="{'active':tally.active === true}">Ja</button>
            <button type="button" (click)="toggleActive(false)" class="btn btn-outline-danger" [ngClass]="{'active':tally.active === false}">Nej</button>
        </div>
    </div>
    <!-- ADD Tally-->
    <div class="form-row" *ngIf="isFormType('add')">
        <div class="col">
            <div class="form-group">
                <a routerLink="/" class="btn btn-outline-pink btn-block block">Ångra</a>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <button type="submit" class="btn btn-block btn-primary" [disabled]="!valid()" (click)="addTally(); tallyForm.reset()">Lägg till</button>
            </div>
        </div>
    </div>

    <!-- EDIT Tally-->
    <div class="form-row" *ngIf="isFormType('edit')">
        <div class="col">
            <div class="form-group">
                <button type="submit" *ngIf="!confirmed" class="btn btn-block btn-warning" (click)="confirmDeleteTally()">Radera</button>
                <button type="submit" *ngIf="confirmed" class="btn btn-danger btn-block btn-block" (click)="deleteTally()">Radera</button>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <button type="submit" *ngIf="!confirmed" class="btn btn-block btn-outline-primary" [disabled]="!tallyHasHistory()" (click)="cleanHistory()">Töm historik</button>

            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <button type="submit" *ngIf="!confirmed" class="btn btn-block btn-primary" (click)="updateTally()" [disabled]="!valid()">Uppdatera</button>
                <a routerLink="/" *ngIf="confirmed" class="btn btn-outline-warning btn-block block">Ångra</a>
            </div>
        </div>
    </div>
</form>