label {
    display: block;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form):not(.ng-pristine) {
    border-left: 5px solid #a94442;
    /* red */
}

.btn-outline-pink {
    color: #ff0099;
    background-color: transparent;
    background-image: none;
    border-color: #ff0099;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #ff0099;
    border-color: #ff0099;
}

.mdlSample{
    margin-top: 100px;
    transition: transform .3s ease-out;
    transform: translate(0,-50px);
}
.mdlSample .modal-header{
    border-top: 22px solid #dee2e6;
}