<div class="container tally-item">
    <div class="row">
        <div class="col-sm">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="mb-0">{{ tally.getName() }}<small class="last-touched d-block">{{ tally.getLastTouched() | timeAgo }} | <i class="fa fa-1x fa-arrow-up"></i> {{ tally.getTopScore() }}</small></h4>
                <small> <a [routerLink]="['/edit', tally.getUuid()]" class="edit mt-2 d-block">Redigera</a></small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <i class="fa fa-3x fa-angle-double-down" (click)="arrowDown()"></i>
        </div>
        <div class="col-6 text-center">
            <h2>{{ tally.getValue() }}<small class="goal" *ngIf="tally.getGoal()"> av {{ tally.getGoal() }}</small></h2>
        </div>
        <div class="col text-right">
            <i class="fa fa-3x fa-angle-double-up" (click)="arrowUp()"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="tally.goal" class="progress">
                <div class="progress-bar" [style.width]="percentage + '%'" [class.done]="tally.getValue() == tally.getGoal()" [class.over]="tally.getValue() > tally.getGoal()" [ngClass]="{'progress-bar-striped progress-bar-animated' : tally.getValue() < tally.getGoal()}" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>