h2 {
    position: relative;
    top: 15px;
}

.tally-item i.fa {
    line-height: 60px;
}

.tally-item i.fa-angle-double-up {
    color: black;
    cursor: pointer;
}

.tally-item i.fa-angle-double-down {
    cursor: pointer;
    color: #d0d0d0;
}

.progress-bar {
    background-color: #ff0099;
}

.tally-item.inactive .progress-bar {
    background-color: #999;
}

.tally-item.inactive a {
    color: rgb(184, 181, 181);
}

.tally-item.inactive {
    color: rgb(184, 181, 181);
    opacity: 0.7;
}

.progress-bar.done {
    background-color: #007bff;
}

.progress-bar.over {
    background-color: #1aa900;
}

small.goal,
small.last-touched {
    font-size: 45%;
}

ul li{
   list-style: none; 
}